<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>214319344206-mj1q5n9enj6qh5puip5mebf01uuuv4a0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214319344206-mj1q5n9enj6qh5puip5mebf01uuuv4a0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>214319344206-1igldbhe9rlug6b5aufreeirojm1js2d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDaWN222jV4gid2UiB_i9uyfPgxQOcFUeE</string>
	<key>GCM_SENDER_ID</key>
	<string>214319344206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blankFireSetstate</string>
	<key>PROJECT_ID</key>
	<string>allgetxmethode</string>
	<key>STORAGE_BUCKET</key>
	<string>allgetxmethode.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214319344206:ios:b802f9277aea1e7455311f</string>
</dict>
</plist>